    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>{{ site.data.about.title }}</h2>
                {{ site.data.about.blurb | markdownify }}
                {% for section in site.data.about.sections %}
                <div class="col-md-{{section.span}} col-sm-12 infobox">
                  <h3><i class="fa fa-{{section.icon}} fa-fw"></i> {{ section.title }}</h3>
                  {{ section.content | markdownify }}
                  <p><a href="{{ section.link.url }}" class="btn btn-block btn-default btn-lg"><span class="network-name">{{ section.link.text }}</span></a></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
