    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}
            | <a href="https://gitlab.com/techrat/website/commits/master"><img
              alt="build status"
              src="https://gitlab.com/techrat/website/badges/master/pipeline.svg" /></a></p>
        </div>
    </footer>
