    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img class="logo" src="/img/ballarat_tech_website_logo.svg" title="{{ site.title }}" />
                        <h1 class="brand-heading" style="display:none">{{ site.title }}</h1>
                        <p class="intro-text"><div id="cta">{{ site.description }}</div><br>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
