    <!-- Links Section -->
    <section id="links" class="content-section text-center">
        <div class="links-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Links</h2>
                      {% for link in site.data.links %}
                      <div class="col-md-6 col-sm-12 infobox">
                        <a href="{{ link.url }}" class="btn btn-block btn-default btn-lg"><i class="fa fa-{{ link.icon }} fa-fw"></i> <span class="network-name">{{ link.title }}</span></a>
                        {{ link.blurb | markdownify }}
                      </div>
                      {% endfor %}
                </div>
            </div>
        </div>
    </section>
