    <!-- About Section -->
    <section id="content" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="col-sm-12 infobox">
            {{ content }}
          </div>
        </div>
      </div>
    </section>
