<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include page_header.html %}
    {% include page_content.html %}
    {% include footer.html %}
    {% include js.html %}
    {% include ga.html %}
    </body>
</html>
